<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
<body>
<h3>
  Alohomora......unlock the conversation!
</h3>
<i class="fa fa-hat-wizard"></i>
<h3 class="ui center aligned medium icon header"></h3>
<div class="ui segment">
<img class="ui small image" src="/images/keyhogwarts.png">
</div>
<div class="dumbledore">
<img src="/keyhogwarts.png">
</div>

<img class="ui avatar image" src="/images/keyhogwarts.png">
<div class="ui small images">
</div>





<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
    <div class="ui feed">
       <% @messages.each do |message| %>
        <div class="event">
          <div class="content">
            <div class="summary">
              <%= message.user.username %></em>: <%= message.description %>
            </div>  
     <div class="event">
      <div class="content">
       <div class="summary">  
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="extra content">
<form class="ui reply form">
<div class="field">
<div class="ui fluid icon input">

  <input type="text" placeholder="Enter a message..">
<i class="bordered inverted grey edit icon"></i>
</div>
</div>

</form>
</div>
</div>
</div>


<div class="four wide column">
  <div class="ui fluid raised card chatbox">
    <div class="content">
<div class="ui inverted vertical menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>
</div>
</div>
</div>
</body>
</html>


